@page "/"

@using System.Timers;
@using ProjectLevel.Contracts.v1

<PageTitle>Index</PageTitle>

<h1>Hello, from Project Level!</h1>

Your current champion info:
<br />
Beep boop stats go here
<br />
<br />
Timer Bar!
<br />
<progress id="progEnemy" value="@currentTimer" max="1000.0"></progress>

@code {
    Timer timer;
    float currentTimer = 0.0f;

    protected override void OnInitialized()
    {
        timer = new Timer();
        timer.Interval = 100;
        timer.Elapsed += TimerOnElapsed;
        timer.Start();
    }

    private void TimerOnElapsed(object sender, ElapsedEventArgs e)
    {
        base.InvokeAsync(StateHasChanged);

        currentTimer++;

        if(currentTimer >= Constants.ActionBarMax)
        {
            currentTimer = 0.0f;
        }
    }

    public void Dispose()
    {
        timer.Dispose();
    }
}